.task {
    border-radius: 20px;
    border: 1px solid darkgray;
    padding: 8px;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.pending-task {
    background-color: lightgray;
}

.completed-task {
    background-color: lightgreen;
}

.button-container {
    display: flex;
    column-gap: 8px;
}

.button {
    border-radius: 20px;
    border: 1px solid darkgray;
    padding: 10px;
    cursor: pointer;
}